.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
body{
  background-color: #efefef;
}
.searchInput {
  width: 300px !important;
  border-radius: 10px;
}
.imbdCol{
  border-left : 3px solid #efefef
}
.imbdText{
  line-height: 119px;
  margin-bottom: 0px !important;
}
.relDateP{
  font-size:14px;
  font-weight: 600;
}
.gen_Rel_Div{
  margin-top:48px;
}
.genreUl{
  list-style-type:none;
  margin-bottom: 0 !important;
  border: 1px solid #efefef;
  border-radius: 5px;
  background: #efefef;
  font-size: 14px;
  font-weight: 600;
}
.crd-plot{
  font-weight: 700;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
